
body{

	margin: 0 !important;
	padding: 0 !important;
	height: 2000px;

}

#owl-demo .item{
	margin: 3px;
}
#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;

}

#owl-demo .item{
	max-height: 400px !important;
}

.product{
	width: 100%;
	height: 250px;
	background-color: #000;
	margin-bottom: 30px;
}

#element1 {
	height: 300px;
	width: 300px;
	background-color: aqua;
}

#element2 {
	height: 200px;
	width: 200px;
	background-color: rebeccapurple;
}

#element3 {
	height: 100px;
	width: 100px;
	background-color: lightgrey;
}

.browser-info {
	color: lightgray;
	font-size: 16px;
}

header {
	width: 100%;
	height: 70px;
	background-color: #00cc99;
	position: fixed;
	z-index: 9999;
}

.logo{
	cursor: pointer;
	display: inline-block;
	line-height: 70px;
	padding-right: 10px;
	font-size: 20px;
	font-weight: 900;
	color: #00F6BB;
}

.navigation {
	display: inline-block !important;
	position: relative !important;
	top: -2px;
}

.navigation ul {
	margin: 0;
	list-style-type: none;
}

.navigation ul li{
	cursor: pointer;
	display: inline-block;
	line-height: 70px;
	padding: 0 30px;
	border-left: 1px solid #00F6BB;
	border-top: none;
	border-bottom: none;
}

.navigation ul li:hover{
	background-color: #00F6BB;
}

.navigation ul li:last-child{
	border-left: 1px solid #00F6BB;
	border-right: 1px solid #00F6BB;
}

.navigation ul li a{
	text-decoration: none;
	color: #fff;
}

.template-content ul li {
	width: 100%;
	border: 1px solid #fff;
	color: #fff;
	margin-top: 10px;
}

.template-content ul li:last-child {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.mega-menu-content{
	top: 0;
	bottom:0;
	position:fixed;
	overflow-y:scroll;
	overflow-x:hidden;
}

.owl-carousel{
	position: relative !important;
}

@media only screen
and (max-width : 667px) {

	.container{
		padding: 0 !important;
	}

	header {
		min-height: 70px;
		background-color: rebeccapurple;
		height: auto;
		padding-bottom: 15px;
	}

	.logo{
		padding-left: 17px;
	}

	.logo, .navigation{
		display: block;
	}

	.navigation{
		width: 100% !important;
		position: relative;
	}

	.navigation ul{
		width: 100% !important;
		padding: 0;
	}

	.navigation ul li {
		display: block;
		line-height: normal;
		border: none;
		padding: 20px;
	}

	.navigation ul li:last-child{
		border: none;
	}

}